# Keep `brew` packages up-to-date.
0 10 * * * /opt/homebrew/bin/brew update --force --quiet; brew upgrade --greedy --quiet

# Keep dotfiles updated with `chezmoi`.
0 * * * * /opt/homebrew/bin/chezmoi update --force

# Keep `asdf` package maner updated.
0 * * * * asdf plugin update --all

# Keep all `pipx` packages updated.
0 * * * * /Users/rdegges/.asdf/shims/pipx upgrade-all
